HTTP_PORT=8080
DOCKER_DATABASE_URL="admin:admin@tcp(ticket-io-mysql:3306)/main?parseTime=true"
LOCALHOST_DATABASE_URL="admin:admin@tcp(localhost:3306)/main?parseTime=true"
JWT_SECRET="myappsecret"
JWT_TTL=3600
